<% list_item_attributes = JSON.parse(@list[:item_attributes] || "{}") %>
<% list_item_attribute_names = list_item_attributes.map { |_key, attribute| attribute["name"] } %>

<h1><%= @list[:name] %></h1>

<p class="mb-4"><%= @list[:description] %></p>

<div class="d-flex gap-3 mb-4">
  <a href="/lists/<%= @list[:id] %>/edit" class="btn btn-primary">edit</a>

  <form action="/lists" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="id" value="<%= @list[:id] %>" />
    <button type="submit" class="confirm_action_button btn btn-danger">Delete</button>
  </form>
</div>

<a href="/">back to lists</a>

<form action="/items" method="post" class="my-4" style="max-width: 500px">
  <input type="hidden" name="item[list_id]" value="<%= @list[:id] %>" />
  <div class="mb-3">
    <input name="item[name]" type="text" class="form-control" placeholder="Awesome item" aria-label="Name" required>
  </div>
  <% list_item_attributes.each do |id, attribute| %>
    <% if attribute["type"] == "Checkbox" %>
      <div class="mb-3 form-check">
        <label class="form-check-label">
          <input name="attributes[<%= id %>]" type="checkbox" class="form-check-input">
          <%= attribute["name"] %>
        </label>
      </div>
    <% else %>
      <div class="mb-3">
        <input name="attributes[<%= id %>]" type="<%= list_item_attribute_input_types[attribute["type"].to_sym] %>" class="form-control" placeholder="<%= attribute["name"] %>">
      </div>
    <% end %>
  <% end %>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Create item</button>
  </div>
</form>

<% if @items.empty? %>
  You haven't created any item for this list yet.
<% else %>
  <div class="overflow-auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <% list_item_attribute_names.each do |attribute_name| %>
            <th><%= attribute_name %></th>
          <% end %>
          <th class="text-center" style="width: 5%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <% item_attributes = JSON.parse(item[:attributes] || "{}") %>
          <tr>
            <td><%= item[:name] %></td>
            <% list_item_attributes.keys.each do |attribute_id| %>
              <td><%= item_attributes[attribute_id] %></td>
            <% end %>
            <td class="d-flex gap-1">
              <a href="/items/<%= item[:id] %>/edit" class="btn btn-primary">Edit</a>
              <form action="/items" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="id" value="<%= item[:id] %>" />
                <input type="hidden" name="list_id" value="<%= @list[:id] %>" />
                <button type="submit" class="confirm_action_button btn btn-danger">X</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
