<% list_item_attributes = JSON.parse(@list[:item_attributes] || "{}").map { |_key, attribute| attribute["name"] } %>
<% item_attributes = JSON.parse(@item[:attributes] || "{}") %>

<h1>Edit "<%= @item[:name] %>"</h1>

<form action="/items" method="post" class="my-4" style="max-width: 500px">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="id" value="<%= @item[:id] %>" />
  <div class="mb-3">
    <input name="item[name]" value="<%= @item[:name] %>" type="text" class="form-control" placeholder="Awesome item" aria-label="Name" required>
  </div>
  <% list_item_attributes.each do |attribute| %>
    <div class="mb-3">
      <input name="attributes[<%= attribute %>]" value="<%= item_attributes[attribute] %>" type="text" class="form-control" placeholder="<%= attribute %>">
    </div>
  <% end %>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Update item</button>
  </div>
</form>
